In [ ]:
Python is dynamically typed Language

### Types of Datatypes in Python

In [ ]:
1. Numerical : int, float, complex 

2. Text: str

3. Sequence: list, tuple, range
    
4. Mapping: dict # key, value

5. Set Types: set , frozenset
    
6. Boolean types: True, False
    
7. Binary: bytes , bytearray

### int Data types

whole decimal number 
+ve or -ve

In [1]:
a = 20 

print(type(a))

<class 'int'>

In [2]:
a = -20

print(type(a))

<class 'int'>

 ### Float Data type

In [3]:
x = 12.34
print(f'value of x is {x} and type of x is {type(x)}')

value of x is 12.34 and type of x is <class 'float'>

In [4]:
x = 12e3
print(f'value of x is {x} and type of x is {type(x)}')

value of x is 12000.0 and type of x is <class 'float'>

In [5]:
x = 12e-3  # 12/1000
print(f'value of x is {x} and type of x is {type(x)}')

value of x is 0.012 and type of x is <class 'float'>

In [7]:
a = 12.3455678

round(a,2)

12.35

### Complex Datatype

Contains real no and imaginary part 
e.g 10 + 34j

In [8]:
x = 10 + 20j 

print(f'value of x is {x} and type of x is {type(x)}')

value of x is (10+20j) and type of x is <class 'complex'>

## Pyhton Datatype Casting

int --> float
float ---> int
int --> complex 
float ---> complex 
int <---> string  # should consist only number
float <---> string # should consist only number and dot

You can not convert
complex ---> int
complex ---> float

#### int to float

In [10]:
a = 25

print(f'value of a is {a} and type is {type(a)}')

a = float(a)

print(f'value of a is {a} and type is {type(a)}')

value of a is 25 and type is <class 'int'>
value of a is 25.0 and type is <class 'float'>

In [11]:
a = -25

print(f'value of a is {a} and type is {type(a)}')

a = float(a)

print(f'value of a is {a} and type is {type(a)}')

value of a is -25 and type is <class 'int'>
value of a is -25.0 and type is <class 'float'>

#### float to int

In [12]:
a = 25.30 

print(f'value of a is {a} and type is {type(a)}')

a = int(a)

print(f'value of a is {a} and type is {type(a)}')

value of a is 25.3 and type is <class 'float'>
value of a is 25 and type is <class 'int'>

### int to complex

In [14]:
a = 50 

print(f'value of a is {a} and {type(a)}')

a = complex(a)

print(f'value of a is {a} and {type(a)}')

value of a is 50 and <class 'int'>
value of a is (50+0j) and <class 'complex'>

In [15]:
a = -50 

print(f'value of a is {a} and {type(a)}')

a = complex(a)

print(f'value of a is {a} and {type(a)}')

value of a is -50 and <class 'int'>
value of a is (-50+0j) and <class 'complex'>

### float to complex

In [16]:
a = 50.45

print(f'value of a is {a} and {type(a)}')

a = complex(a)

print(f'value of a is {a} and {type(a)}')

value of a is 50.45 and <class 'float'>
value of a is (50.45+0j) and <class 'complex'>

In [17]:
a = -50.45

print(f'value of a is {a} and {type(a)}')

a = complex(a)

print(f'value of a is {a} and {type(a)}')

value of a is -50.45 and <class 'float'>
value of a is (-50.45+0j) and <class 'complex'>

### Complex to float / int

In [18]:
a = 50.45+10j

print(f'value of a is {a} and {type(a)}')

a = int(a)

print(f'value of a is {a} and {type(a)}')

value of a is (50.45+10j) and <class 'complex'>

TypeError: can't convert complex to int

In [19]:
a = 50.45+10j

print(f'value of a is {a} and {type(a)}')

a = float(a)

print(f'value of a is {a} and {type(a)}')

value of a is (50.45+10j) and <class 'complex'>

TypeError: can't convert complex to float

## String

Collection of characters
Surrounded by single, double or triple quote

single quote ---we can not use single quote inside the single quotes e.g 'what's your name'
double quote ---we can not use double quote inside the double quotes

In [22]:
s = 'Hi this is python class'
s

'Hi this is python class'

In [23]:
s = 'Hi this is python class'
type(s)

str

In [25]:
d = 'what's your name' 
# we can not use single quote inside the single quotes
d

SyntaxError: invalid syntax (<ipython-input-25-b21cca0c6e39>, line 1)

In [26]:
d = "Hi all"
d

'Hi all'

In [29]:
t = ''' hi all this is python class
you are learning basics of python'''
t

' hi all this is python class\nyou are learning basics of python'

### string to int

In [30]:
a = '100'

print(f'value of a is {a} and {type(a)}')


a = int(a)


print(f'value of a is {a} and {type(a)}')

value of a is 100 and <class 'str'>
value of a is 100 and <class 'int'>

In [32]:
a = '100a'

print(f'value of a is {a} and {type(a)}')


a = int(a)


print(f'value of a is {a} and {type(a)}')

value of a is 100a and <class 'str'>

ValueError: invalid literal for int() with base 10: '100a'

In [33]:
a = ' 100 '

print(f'value of a is {a} and {type(a)}')


a = int(a)


print(f'value of a is {a} and {type(a)}')

value of a is  100  and <class 'str'>
value of a is 100 and <class 'int'>

### int to string

In [31]:
a = 100

print(f'value of a is {a} and {type(a)}')


a = str(a)


print(f'value of a is {a} and {type(a)}')

value of a is 100 and <class 'int'>
value of a is 100 and <class 'str'>

### float to string

In [34]:
a = 123.345

print(f'value of a is {a} and {type(a)}')


a = str(a)


print(f'value of a is {a} and {type(a)}')

value of a is 123.345 and <class 'float'>
value of a is 123.345 and <class 'str'>

### String to float

In [35]:
a = '123.345'

print(f'value of a is {a} and {type(a)}')


a = float(a)


print(f'value of a is {a} and {type(a)}')

value of a is 123.345 and <class 'str'>
value of a is 123.345 and <class 'float'>

In [36]:
a = '123.345a'

print(f'value of a is {a} and {type(a)}')


a = float(a)


print(f'value of a is {a} and {type(a)}')

value of a is 123.345a and <class 'str'>

ValueError: could not convert string to float: '123.345a'