## 1. capitalize()

Capitalizes first letter of a string

In [1]:
str1 = 'hello all'
str1.capitalize()

'Hello all'

In [2]:
str1 = ' hello all'
str1.capitalize()

' hello all'

In [3]:
str1 = 'dypatilT'
str1.capitalize()

'Dypatilt'

## 2. upper()

In [4]:
str1 = "Hello Python"
str1.upper()

'HELLO PYTHON'

In [6]:
a = "Data Science"
a = a.upper()
a

'DATA SCIENCE'

In [7]:
pan_card = 'axs1234cd'
pan_card.upper()

'AXS1234CD'

In [8]:
adhar_name = 'Rohit Sharma'
pan_name = 'rohit sharma'

adhar_name == pan_name

False

In [9]:
adhar_name = 'Rohit Sharma'
pan_name = 'rohit sharma'

adhar_name = adhar_name.upper()
pan_name = pan_name.upper()

adhar_name == pan_name

True

In [10]:
adhar_name = 'Rohit Sharma'
pan_name = 'rohit sharma'

# adhar_name = adhar_name.upper()
# pan_name = pan_name.upper()

if adhar_name == pan_name:
    print("Both names are similar")
else:
    print("Both Names are different")

Both Names are different

In [11]:
adhar_name = 'Rohit Sharma'
pan_name = 'rohit sharma'

adhar_name = adhar_name.upper()
pan_name = pan_name.upper()

if adhar_name == pan_name:
    print("Both names are similar")
else:
    print("Both Names are different")

Both names are similar

In [12]:
adhar_name = 'Rohit Sharma'
pan_name = 'rohit sharma'

# adhar_name = adhar_name.upper()
# pan_name = pan_name.upper()

if adhar_name.upper() == pan_name.upper():
    print("Both names are similar")
else:
    print("Both Names are different")

Both names are similar

### 3. lower()

In [13]:
adhar_name = 'Rohit sharma'
adhar_name.lower()

'rohit sharma'

In [14]:
user_name = 'VAIBHAV'
input_name = 'vaibhav'

if user_name.lower() == input_name.lower():
    print('User name is correct')
else:
    print("User doesn`t exist")

User name is correct

In [15]:
user_name = 'VAIBHAV'
input_name = 'vaibav'

if user_name.lower() == input_name.lower():
    print('User name is correct')
else:
    print("User doesn`t exist")

User doesn`t exist

### 4. title()

totle case
capitalize first character of each word

In [16]:
str1 = "hello all we are learning python programming"
str1.title()

'Hello All We Are Learning Python Programming'

In [17]:
str1 = 'united states of america'
str1.title()

'United States Of America'

In [18]:
str1 = 'india'
str1.title()

'India'

### 5. lstrip()

removes the leading/ left whitespaces from given string

In [ ]:
whitespaces ---space,\t

In [19]:
str1 = '     python'
str1.lstrip()

'python'

In [20]:
str1 = '                   leading by 250'
str1 =str1.lstrip()
str1

'leading by 250'

### 6. rstrip()

removes the trailing/right side whitespaces from given string

In [21]:
str1 = 'python                 '
str1.rstrip()

'python'

In [22]:
str1 = "Machine Learning                              "
str1 = str1.rstrip()
str1

'Machine Learning'

In [23]:
str1 = 'Virat Kohali               '
str2 = '             virat kohali'

str1 == str2

False

In [28]:
str1 = 'machine learning             '
str2 ='                              machine Learning '

str1 = str1.lower()
str2 = str2.lower()

if str1.rstrip() == str2.lstrip():
    print("it is correct")
else:
    print("it is wrong")

it is correct

### 7. strip()

leading and trailing whitespaces removes

In [29]:
str2 ='                              machine Learning                 '

str2.strip()

'machine Learning'

In [30]:
str1 = '     machine learning             '
str2 ='                              machine Learning           '

str1 = str1.lower()
str2 = str2.lower()

if str1.strip() == str2.strip():
    print("it is correct")
else:
    print("it is wrong")

it is correct

Applications:

NLP--Natural Language Processing
     Image--->Adhar, PAN, Driving License etc. 
     ADHAR---Name, adress, Adhar number
     PAN ---NAME, DoB, Father Name, Pan No
     
     OCR ---Optical Character Recognization ---->Database --customer_id
    
 adhar_no = '        900505054949   '
 adhar_name = '  hdhdhdhdh jdjdjdj'
 
 OCR :
 Google vision
 pytessract
 AWS tessract

### 8. swapcase()

lower case to upper case and uppercase to lower case

In [31]:
str1 = " I am Data Scientist"
str1.swapcase()

' i AM dATA sCIENTIST'

### 9. replace()

syntax: string.replace(old_str,new_str, [count])

In [32]:
str1 = 'python class'
str1.replace('python','Java')

'Java class'

In [33]:
str1 = 'python class'
str1.replace('p','C')

'Cython class'

In [35]:
str1 = 'We are learing Data science programming'
str1.replace('Data','Machine')

'We are learing Machine science programming'

In [37]:
str1 = 'Python is a programming language and Data Science is a concept'

str1.replace('Python','Java')

'Java is a programming language and Data Science is a concept'

In [38]:
str1.replace('Python','Java').replace('Data','DATA')

'Java is a programming language and DATA Science is a concept'

# WAP to remove vowels from the string

In [42]:
str1 = "Hi, DYPT students, hope you are safe,  you are python aspirants"

str1.replace('a','*')

'Hi, DYPT students, hope you *re s*fe,  you *re python *spir*nts'

In [43]:
str1.replace('a','**')

'Hi, DYPT students, hope you **re s**fe,  you **re python **spir**nts'

In [44]:
str1.replace('a','')

'Hi, DYPT students, hope you re sfe,  you re python spirnts'

In [45]:
str1.replace('a','').replace('e','')

'Hi, DYPT studnts, hop you r sf,  you r python spirnts'

In [46]:
str1.replace('a','').replace('e','').replace('i','')

'H, DYPT studnts, hop you r sf,  you r python sprnts'

In [47]:
str1.replace('a','').replace('e','').replace('i','').replace('o','')

'H, DYPT studnts, hp yu r sf,  yu r pythn sprnts'

In [48]:
str1.replace('a','').replace('e','').replace('i','').replace('o','').replace('u','')

'H, DYPT stdnts, hp y r sf,  y r pythn sprnts'

# Occurance Replacement

In [50]:
str1 = 'Python is very powerful language. Python is verstile'
str1.replace('Python', "Java", 1)

'Java is very powerful language. Python is verstile'

In [52]:
str1 = 'Python is very powerful language. Python is verstile'
str1.replace('Python', "Java", 2)

'Java is very powerful language. Java is verstile'

In [54]:
str1 = 'Python is very powerful language. Python is verstile Python Python'
str1.replace('Python', "Java", 3)

'Java is very powerful language. Java is verstile Java Python'

In [55]:
str1 = 'What is your classs ?????????????????????'
str1.replace('?','')

'What is your classs '

In [57]:
str1 = 'What is your classs ????????????'
str1.replace('?','',11)

'What is your classs ?'